div{
    padding-top: 10px;
}


.space{
    padding-top: 1px;
padding-left: 10px;
}
.tab {
    display: inline-block;
    margin-left: 40px;
}
hr{
   height:5px;
   width:350px;
   color:gray;
   background-color:gray;
   text-align:left;
   margin-left:0;
}
.fo{
    display: inline-flex;
    justify-content: space-evenly;
    padding-left: 100px;

}

input{
   max-width: 100px;
}
.titles{
 
    padding-left: 100px;
   
}
.desc{
  padding-left: 60px;
}
.ID{
    padding-left: 75px;
}