div{
    padding-top: 10px;
}


.space{
    padding-top: 1px;
padding-left: 10px;
}
.fo{
    display: inline-flex;
    justify-content: space-evenly;
    padding-left: 100px;

}
.table{
    padding-left: 50px;
    table-layout:fixed;
    padding-right:300px;
    text-align: center;
    
}
.row{
    border-style: solid;
    border-color:#CC5500;
    width: 100px;
    height: 40px;
}
input{
   max-width: 100px;
}
.tableHeader{
    padding-left: 230px;
}
.tab3 {
    display: inline-block;
    margin-left: 40px;
}
.tableAlign{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    width: 50%;

}
.tab4{
    display: block;
}
.tab5{
    display: block;
    color: white;
}

.in{
    width: 75px;
    height: 50px;
    border: 0;
}